{% block swag_multi_language %}
    <div class="swag-multi-language-tab">
        <sw-card :title="$t('sw-academy.tagProductTranslationsTab.tabName')"
                 position-identifier="swag-multi-language-tab"
        >
            <template v-if="product?.translations?.length">
                <sw-container columns="1fr" gap="24px">
                    <sw-card v-for="productTranslationItem in product?.translations"
                             :key="productTranslationItem.language.id"
                             :title="productTranslationItem.language.name"
                    >
                        <mt-text-field
                            v-model="productTranslationItem.name"
                            :label="$t('sw-product.basicForm.labelTitle')"
                        />

                        <sw-text-editor
                            v-model:value="productTranslationItem.description"
                            :label="$t('sw-product.basicForm.labelDescription')"
                            sanitize-input
                            sanitize-field-name="product_translation.description"
                        />
                    </sw-card>
                </sw-container>
            </template>
        </sw-card>
    </div>
{% endblock %}
